In [1]:
pip install XlsxWriter

Requirement already satisfied: XlsxWriter in /usr/local/lib/python3.7/dist-packages (3.0.1)

In [30]:
import numpy as np
import pandas as pd
import xlsxwriter
import requests
from scipy import stats
import math

In [3]:
stocks = pd.read_csv('sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [4]:
from secrets import IEX_CLOUD_API_TOKEN

In [5]:
symbol = 'aapl'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
data=requests.get(api_url).json()
print(data)

{'avgTotalVolume': 89849765, 'calculationPrice': 'close', 'change': 1.18, 'changePercent': 0.00844, 'close': 0, 'closeSource': 'icfilafo', 'closeTime': None, 'companyName': 'Apple Inc', 'currency': 'USD', 'delayedPrice': None, 'delayedPriceTime': None, 'extendedChange': None, 'extendedChangePercent': None, 'extendedPrice': None, 'extendedPriceTime': None, 'high': 0, 'highSource': None, 'highTime': None, 'iexAskPrice': None, 'iexAskSize': None, 'iexBidPrice': None, 'iexBidSize': None, 'iexClose': 144.58, 'iexCloseTime': 1669827947076, 'iexLastUpdated': None, 'iexMarketPercent': None, 'iexOpen': 146.74, 'iexOpenTime': 1644631779759, 'iexRealtimePrice': None, 'iexRealtimeSize': None, 'iexVolume': None, 'lastTradeTime': 1657760727204, 'latestPrice': 144.65, 'latestSource': 'Close', 'latestTime': 'October 1, 2021', 'latestUpdate': 1648260175143, 'latestVolume': None, 'low': 0, 'lowSource': None, 'lowTime': None, 'marketCap': 2432896399773, 'oddLotDelayedPrice': None, 'oddLotDelayedPriceTime': None, 'open': 0, 'openTime': None, 'openSource': 'afclfioi', 'peRatio': 27.99, 'previousClose': 143.6, 'previousVolume': 89599167, 'primaryExchange': 'DAANSQ', 'symbol': 'AAPL', 'volume': None, 'week52High': 160.4, 'week52Low': 111.38, 'ytdChange': 0.09111316597443785, 'isUSMarketOpen': False}

In [6]:
#parsing API call
price = data['latestPrice']
pe_ratio=data['peRatio']
pe_ratio

27.99

In [7]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
    #print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'Price-to-Earnings Ratio', 'Number of Shares to Buy']

In [8]:
final_dataframe=pd.DataFrame(columns=my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Price, Price-to-Earnings Ratio, Number of Shares to Buy]
Index: []

In [9]:
for symbol_string in symbol_strings:
  batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote&token={IEX_CLOUD_API_TOKEN}'
  data = requests.get(batch_api_call_url).json()
  for symbol in symbol_string.split(','):
    final_dataframe=final_dataframe.append(
        pd.Series(
            [
              symbol,
              data[symbol]['quote']['latestPrice'],
              data[symbol]['quote']['peRatio'],
              'N\A'
            ],
            index = my_columns
        ),
        ignore_index=True
    )

In [10]:
final_dataframe

    Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
0        A  160.12                    49.1                     N\A
1      AAL   21.93                   -2.26                     N\A
2      AAP  215.00                   23.06                     N\A
3     AAPL  149.14                   28.09                     N\A
4     ABBV  112.21                    29.4                     N\A
..     ...     ...                     ...                     ...
500    YUM  125.41                   29.41                     N\A
501    ZBH  156.38                   34.81                     N\A
502   ZBRA  533.90                   37.35                     N\A
503   ZION   66.32                     6.5                     N\A
504    ZTS  199.63                   49.58                     N\A

[505 rows x 4 columns]

In [11]:
#removing glamour stocks
final_dataframe.sort_values('Price-to-Earnings Ratio', ascending = True, inplace = True)
final_dataframe = final_dataframe[final_dataframe['Price-to-Earnings Ratio']>0]
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace = True)
final_dataframe.drop('index', axis=1, inplace = True)
final_dataframe

   Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
0    EBAY   72.30                    3.77                     N\A
1     MPC   64.20                    5.41                     N\A
2     BIO  750.25                    5.75                     N\A
3     PRU  107.95                    6.05                     N\A
4      GM   55.16                     6.4                     N\A
5    ZION   66.32                     6.5                     N\A
6     AFL   53.53                    6.58                     N\A
7     COF  167.70                    6.65                     N\A
8    CINF  120.51                    6.67                     N\A
9     WHR  213.18                    7.06                     N\A
10     GS  384.00                    7.09                     N\A
11     CE  160.14                     7.2                     N\A
12    COO  419.74                    7.35                     N\A
13     DD   70.84                    7.58                     N\A
14   VIAC   41.60                     7.6                     N\A
15    PHM   47.88                    7.64                     N\A
16      C   71.91                    7.66                     N\A
17     RE  261.36                    7.73                     N\A
18    UNM   25.99                    7.77                     N\A
19    LYB   96.07                    8.22                     N\A
20    DFS  128.50                    8.24                     N\A
21    DHI   87.45                     8.6                     N\A
22    HRB   25.65                    8.63                     N\A
23    DGX  147.90                    8.66                     N\A
24     RF   21.96                    8.77                     N\A
25    LEN   98.40                    8.91                     N\A
26     CI  206.40                    8.93                     N\A
27    HPQ   28.08                       9                     N\A
28    SYF   50.79                    9.26                     N\A
29    NRG   41.71                    9.29                     N\A
30   HOLX   73.64                    9.49                     N\A
31    KEY   23.21                    9.66                     N\A
32      L   56.27                    9.71                     N\A
33    LNC   70.81                    9.74                     N\A
34     CB  175.99                     9.8                     N\A
35     LH  293.02                    9.83                     N\A
36    CTL   11.00                    9.87                     N\A
37    PGR   94.25                    9.87                     N\A
38    ALL  131.69                   10.14                     N\A
39    NUE  100.09                   10.21                     N\A
40    KSS   49.71                   10.32                     N\A
41   NLSN   20.01                   10.38                     N\A
42    HII  203.17                   10.49                     N\A
43    TRV  154.93                   10.62                     N\A
44    MOS   39.40                   10.62                     N\A
45     WU   21.00                   10.63                     N\A
46   REGN  593.11                   10.71                     N\A
47    CMA   84.87                   10.74                     N\A
48    UHS  145.75                   11.03                     N\A
49    DOW   58.66                   11.08                     N\A

In [12]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

In [13]:
portfolio_input()

Enter the value of your portfolio:1000000

In [14]:
position_size = float(portfolio_size)/len(final_dataframe.index)
position_size

20000.0

In [15]:
for row in final_dataframe.index:
  final_dataframe.loc[row, 'Number of Shares to Buy'] = math.floor(position_size/final_dataframe.loc[row,'Price'])
final_dataframe

   Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
0    EBAY   72.30                    3.77                     276
1     MPC   64.20                    5.41                     311
2     BIO  750.25                    5.75                      26
3     PRU  107.95                    6.05                     185
4      GM   55.16                     6.4                     362
5    ZION   66.32                     6.5                     301
6     AFL   53.53                    6.58                     373
7     COF  167.70                    6.65                     119
8    CINF  120.51                    6.67                     165
9     WHR  213.18                    7.06                      93
10     GS  384.00                    7.09                      52
11     CE  160.14                     7.2                     124
12    COO  419.74                    7.35                      47
13     DD   70.84                    7.58                     282
14   VIAC   41.60                     7.6                     480
15    PHM   47.88                    7.64                     417
16      C   71.91                    7.66                     278
17     RE  261.36                    7.73                      76
18    UNM   25.99                    7.77                     769
19    LYB   96.07                    8.22                     208
20    DFS  128.50                    8.24                     155
21    DHI   87.45                     8.6                     228
22    HRB   25.65                    8.63                     779
23    DGX  147.90                    8.66                     135
24     RF   21.96                    8.77                     910
25    LEN   98.40                    8.91                     203
26     CI  206.40                    8.93                      96
27    HPQ   28.08                       9                     712
28    SYF   50.79                    9.26                     393
29    NRG   41.71                    9.29                     479
30   HOLX   73.64                    9.49                     271
31    KEY   23.21                    9.66                     861
32      L   56.27                    9.71                     355
33    LNC   70.81                    9.74                     282
34     CB  175.99                     9.8                     113
35     LH  293.02                    9.83                      68
36    CTL   11.00                    9.87                    1818
37    PGR   94.25                    9.87                     212
38    ALL  131.69                   10.14                     151
39    NUE  100.09                   10.21                     199
40    KSS   49.71                   10.32                     402
41   NLSN   20.01                   10.38                     999
42    HII  203.17                   10.49                      98
43    TRV  154.93                   10.62                     129
44    MOS   39.40                   10.62                     507
45     WU   21.00                   10.63                     952
46   REGN  593.11                   10.71                      33
47    CMA   84.87                   10.74                     235
48    UHS  145.75                   11.03                     137
49    DOW   58.66                   11.08                     340

In [33]:
#adding more parameters
symbol = 'AAPL'
batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol}&types=quote,advanced-stats&token={IEX_CLOUD_API_TOKEN}'
data=requests.get(batch_api_call_url).json()

# Price to earning ration
pe_ratio = data[symbol]['quote']['peRatio']

#Price to book ratio
pb_ratio = data[symbol]['advanced-stats']['priceToBook']

#Price to sales ratio
ps_ratio = data[symbol]['advanced-stats']['priceToSales']

#EV/EBITDA
ev_to_ebitda = data[symbol]['advanced-stats']['enterpriseValue']/data[symbol]['advanced-stats']['EBITDA']

#EV/GP
ev_to_gross_profit  = data[symbol]['advanced-stats']['enterpriseValue']/data[symbol]['advanced-stats']['grossProfit']

In [41]:
rv_columns = [
    'Ticker',
    'Price',
    'Number of Shares to Buy',
    'Price-to-Earnings Ratio',
    'PE Percentile',
    'Price-to-Book Ratio',
    'PB Percentile',
    'Price-to-Sales Ratio',
    'PS Percentile',
    'EV/EBITDA',
    'EV/EBITDA Percentile',
    'EV/GP',
    'EV/GP Percentile',
    'RV Score'    
]

rv_dataframe = pd.DataFrame(columns = rv_columns)

for symbol_string in symbol_strings:
  batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote,advanced-stats&token={IEX_CLOUD_API_TOKEN}'
  data=requests.get(batch_api_call_url).json()
  for symbol in symbol_string.split(','):
    try: 
      ev_to_ebitda = data[symbol]['advanced-stats']['enterpriseValue']/data[symbol]['advanced-stats']['EBITDA']
    except TypeError:
      ev_to_ebitda = np.NaN
    try: 
      ev_to_gross_profit = data[symbol]['advanced-stats']['enterpriseValue']/data[symbol]['advanced-stats']['grossProfit']
    except TypeError:
      ev_to_gross_profit = np.NaN
    rv_dataframe = rv_dataframe.append(
    pd.Series([
        symbol,
        data[symbol]['quote']['latestPrice'],
        'N/A',
        data[symbol]['quote']['peRatio'],
        'N/A',
        data[symbol]['advanced-stats']['priceToBook'],
        'N/A',
        data[symbol]['advanced-stats']['priceToSales'],
        'N/A',
        ev_to_ebitda,
        'N/A',
        ev_to_gross_profit,
        'N/A',
        'N/A'    
    ],
    index = rv_columns),
        ignore_index=True
    )

In [42]:
rv_dataframe

    Ticker   Price Number of Shares to Buy  ...      EV/GP EV/GP Percentile RV Score
0        A  160.63                     N/A  ...  15.279758              N/A      N/A
1      AAL   22.04                     N/A  ...   1.921669              N/A      N/A
2      AAP  216.00                     N/A  ...   2.683972              N/A      N/A
3     AAPL  146.40                     N/A  ...  17.260178              N/A      N/A
4     ABBV  110.32                     N/A  ...   7.814483              N/A      N/A
..     ...     ...                     ...  ...        ...              ...      ...
500    YUM  126.31                     N/A  ...  10.025642              N/A      N/A
501    ZBH  152.29                     N/A  ...   6.692895              N/A      N/A
502   ZBRA  514.88                     N/A  ...  11.644001              N/A      N/A
503   ZION   66.79                     N/A  ...   2.727192              N/A      N/A
504    ZTS  203.18                     N/A  ...  18.700171              N/A      N/A

[505 rows x 14 columns]

In [44]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)]

    Ticker    Price Number of Shares to Buy  ... EV/GP EV/GP Percentile RV Score
28    ALXN   187.90                     N/A  ...   NaN              N/A      N/A
40     AON   295.27                     N/A  ...   NaN              N/A      N/A
71   BRK.B   286.23                     N/A  ...   NaN              N/A      N/A
118    CTL    11.00                     N/A  ...   NaN              N/A      N/A
136  DISCK    24.85                     N/A  ...   NaN              N/A      N/A
165   ETFC    50.19                     N/A  ...   NaN              N/A      N/A
186   FLIR    58.89                     N/A  ...   NaN              N/A      N/A
190    FOX    38.64                     N/A  ...   NaN              N/A      N/A
204   GOOG  2771.10                     N/A  ...   NaN              N/A      N/A
325   MXIM   108.15                     N/A  ...   NaN              N/A      N/A
326    MYL    16.23                     N/A  ...   NaN              N/A      N/A
327    NBL     8.84                     N/A  ...   NaN              N/A      N/A
348    NWS    24.38                     N/A  ...   NaN              N/A      N/A
442   TROW   202.21                     N/A  ...   NaN              N/A      N/A
452     UA    18.84                     N/A  ...   NaN              N/A      N/A

[15 rows x 14 columns]

In [45]:
rv_dataframe.columns

Index(['Ticker', 'Price', 'Number of Shares to Buy', 'Price-to-Earnings Ratio',
       'PE Percentile', 'Price-to-Book Ratio', 'PB Percentile',
       'Price-to-Sales Ratio', 'PS Percentile', 'EV/EBITDA',
       'EV/EBITDA Percentile', 'EV/GP', 'EV/GP Percentile', 'RV Score'],
      dtype='object')

In [51]:
for column in [ 'Price-to-Earnings Ratio', 'Price-to-Book Ratio',
       'Price-to-Sales Ratio', 'EV/EBITDA', 'EV/GP' ]:
  rv_dataframe[column].fillna(rv_dataframe[column].mean(), inplace=True)

In [53]:
rv_dataframe

    Ticker   Price Number of Shares to Buy  ...      EV/GP EV/GP Percentile  RV Score
0        A  160.63                     N/A  ...  15.279758              N/A       N/A
1      AAL   22.04                     N/A  ...   1.921669              N/A       N/A
2      AAP  216.00                     N/A  ...   2.683972              N/A       N/A
3     AAPL  146.40                     N/A  ...  17.260178              N/A       N/A
4     ABBV  110.32                     N/A  ...   7.814483              N/A       N/A
..     ...     ...                     ...  ...        ...              ...       ...
500    YUM  126.31                     N/A  ...  10.025642              N/A       N/A
501    ZBH  152.29                     N/A  ...   6.692895              N/A       N/A
502   ZBRA  514.88                     N/A  ...  11.644001              N/A       N/A
503   ZION   66.79                     N/A  ...   2.727192              N/A       N/A
504    ZTS  203.18                     N/A  ...  18.700171              N/A       N/A

[505 rows x 14 columns]

In [52]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)]

Empty DataFrame
Columns: [Ticker, Price, Number of Shares to Buy, Price-to-Earnings Ratio, PE Percentile, Price-to-Book Ratio, PB Percentile, Price-to-Sales Ratio, PS Percentile, EV/EBITDA, EV/EBITDA Percentile, EV/GP, EV/GP Percentile, RV Score]
Index: []

In [59]:
from scipy.stats import percentileofscore as score
metrics = {
    'Price-to-Earnings Ratio':'PE Percentile',
    'Price-to-Book Ratio':'PB Percentile',
    'Price-to-Sales Ratio':'PS Percentile',
    'EV/EBITDA':'EV/EBITDA Percentile',
    'EV/GP':'EV/GP Percentile',
}

for metric in metrics.keys():
  for row in rv_dataframe.index:
    rv_dataframe.loc[row, metrics[metric]] = score( rv_dataframe[metric], rv_dataframe.loc[row, metric])

rv_dataframe

    Ticker   Price Number of Shares to Buy  ...      EV/GP EV/GP Percentile  RV Score
0        A  160.63                     N/A  ...  15.279758          84.7525       N/A
1      AAL   22.04                     N/A  ...   1.921669          8.51485       N/A
2      AAP  216.00                     N/A  ...   2.683972          12.6733       N/A
3     AAPL  146.40                     N/A  ...  17.260178          88.7129       N/A
4     ABBV  110.32                     N/A  ...   7.814483          52.4752       N/A
..     ...     ...                     ...  ...        ...              ...       ...
500    YUM  126.31                     N/A  ...  10.025642          66.9307       N/A
501    ZBH  152.29                     N/A  ...   6.692895          41.7822       N/A
502   ZBRA  514.88                     N/A  ...  11.644001          74.4554       N/A
503   ZION   66.79                     N/A  ...   2.727192          12.8713       N/A
504    ZTS  203.18                     N/A  ...  18.700171          91.2871       N/A

[505 rows x 14 columns]

In [61]:
#RV Score
from statistics import mean

for row in rv_dataframe.index:
  value_percentiles = []
  for metric in metrics.keys():
    value_percentiles.append(rv_dataframe.loc[row, metrics[metric]])
  rv_dataframe.loc[row, 'RV Score'] = mean(value_percentiles)
rv_dataframe

    Ticker   Price Number of Shares to Buy  ...      EV/GP EV/GP Percentile  RV Score
0        A  160.63                     N/A  ...  15.279758          84.7525   84.0594
1      AAL   22.04                     N/A  ...   1.921669          8.51485   6.29703
2      AAP  216.00                     N/A  ...   2.683972          12.6733   32.4752
3     AAPL  146.40                     N/A  ...  17.260178          88.7129   78.9307
4     ABBV  110.32                     N/A  ...   7.814483          52.4752   57.2475
..     ...     ...                     ...  ...        ...              ...       ...
500    YUM  126.31                     N/A  ...  10.025642          66.9307   54.3564
501    ZBH  152.29                     N/A  ...   6.692895          41.7822   54.7723
502   ZBRA  514.88                     N/A  ...  11.644001          74.4554   76.3168
503   ZION   66.79                     N/A  ...   2.727192          12.8713   17.0099
504    ZTS  203.18                     N/A  ...  18.700171          91.2871    89.901

[505 rows x 14 columns]

In [63]:
#selecting 50 best
rv_dataframe.sort_values('RV Score', ascending = True, inplace= True)
rv_dataframe = rv_dataframe[:50]

In [64]:
rv_dataframe

    Ticker   Price  ... EV/GP Percentile  RV Score
459    UNM   26.15  ...         0.990099   4.75248
381    PRU  109.24  ...          1.38614   5.22772
1      AAL   22.04  ...          8.51485   6.29703
300    MCK  206.36  ...          13.4653   7.84158
274      L   56.40  ...          3.16832   8.07921
391     RE  259.02  ...          2.77228   8.19802
272    KSS   50.59  ...           3.9604   8.65347
55      BA  233.00  ...          0.39604   8.93069
26     ALL  132.65  ...          2.17822    9.0297
203     GM   54.20  ...           10.297    9.0297
285    LNC   70.89  ...          1.58416   9.06931
304    MET   64.07  ...           1.9802   9.18812
226    HPQ   28.71  ...          14.6535   9.56436
18     AIG   57.50  ...          3.36634   9.68317
430    TAP   47.95  ...          21.5842   10.6535
17     AFL   53.55  ...          7.32673   11.6634
443    TRV  158.57  ...          3.56436   11.8218
75       C   71.59  ...          7.12871   11.8416
467   VIAC   41.60  ...          5.74257    11.901
429      T   28.15  ...          22.5743        12
220    HIG   71.79  ...          3.76238   12.0396
42     APA   22.70  ...          12.0792   12.2772
366    PFG   68.87  ...           4.9505   13.7822
174      F   14.56  ...          14.2574    14.198
456    UHS  139.34  ...          4.15842   14.3564
210     GS  381.00  ...          9.90099   14.6337
106    COF  167.89  ...          10.8911   14.8119
483    WHR  205.66  ...          16.8317   14.9109
122    CVS   86.31  ...          5.54455   14.9109
95    CINF  118.92  ...          8.91089   14.9505
496    XOM   61.86  ...          5.94059   15.2277
201     GL   91.59  ...          8.11881   15.2673
370    PHM   47.73  ...          21.9802   15.2673
208    GPS   23.63  ...          4.75248   15.3069
20     AIZ  165.00  ...          2.57426   15.3069
180    FDX  226.33  ...          2.37624   15.4059
94      CI  203.40  ...          18.8119   15.4455
498    XRX   21.00  ...           10.495   15.5644
25     ALK   62.80  ...          7.52475   15.9802
454    UAL   51.61  ...           10.099   16.1782
396    RJF   95.73  ...          5.34653   16.2376
194    FTI    8.12  ...          21.7822   16.2772
489    WRK   53.35  ...          42.5743   16.3168
135  DISCA   26.41  ...           19.604   16.8713
216    HCA  255.67  ...          9.30693   16.9901
503   ZION   66.79  ...          12.8713   17.0099
80      CB  176.74  ...          9.50495   17.3267
306    MHK  184.44  ...          23.5644   17.6436
426    SYF   51.35  ...          9.70297   17.8218
132    DHI   85.59  ...          22.7723   17.9406

[50 rows x 14 columns]

In [65]:
rv_dataframe.reset_index(drop=True, inplace=True)
rv_dataframe

   Ticker   Price Number of Shares to Buy  ...       EV/GP EV/GP Percentile  RV Score
0     UNM   26.15                     N/A  ...    0.410073         0.990099   4.75248
1     PRU  109.24                     N/A  ...    0.638186          1.38614   5.22772
2     AAL   22.04                     N/A  ...    1.921669          8.51485   6.29703
3     MCK  206.36                     N/A  ...    2.780191          13.4653   7.84158
4       L   56.40                     N/A  ...    0.998376          3.16832   8.07921
5      RE  259.02                     N/A  ...    0.915673          2.77228   8.19802
6     KSS   50.59                     N/A  ...    1.175270           3.9604   8.65347
7      BA  233.00                     N/A  ... -216.941157          0.39604   8.93069
8     ALL  132.65                     N/A  ...    0.770153          2.17822    9.0297
9      GM   54.20                     N/A  ...    2.151354           10.297    9.0297
10    LNC   70.89                     N/A  ...    0.677053          1.58416   9.06931
11    MET   64.07                     N/A  ...    0.762019           1.9802   9.18812
12    HPQ   28.71                     N/A  ...    2.861876          14.6535   9.56436
13    AIG   57.50                     N/A  ...    1.064888          3.36634   9.68317
14    TAP   47.95                     N/A  ...    3.975574          21.5842   10.6535
15    AFL   53.55                     N/A  ...    1.833605          7.32673   11.6634
16    TRV  158.57                     N/A  ...    1.139406          3.56436   11.8218
17      C   71.59                     N/A  ...    1.814740          7.12871   11.8416
18   VIAC   41.60                     N/A  ...    1.488858          5.74257    11.901
19      T   28.15                     N/A  ...    4.158644          22.5743        12
20    HIG   71.79                     N/A  ...    1.153450          3.76238   12.0396
21    APA   22.70                     N/A  ...    2.532854          12.0792   12.2772
22    PFG   68.87                     N/A  ...    1.290727           4.9505   13.7822
23      F   14.56                     N/A  ...    2.843194          14.2574    14.198
24    UHS  139.34                     N/A  ...    1.215986          4.15842   14.3564
25     GS  381.00                     N/A  ...    2.076291          9.90099   14.6337
26    COF  167.89                     N/A  ...    2.252625          10.8911   14.8119
27    WHR  205.66                     N/A  ...    3.268980          16.8317   14.9109
28    CVS   86.31                     N/A  ...    1.458780          5.54455   14.9109
29   CINF  118.92                     N/A  ...    1.938495          8.91089   14.9505
30    XOM   61.86                     N/A  ...    1.490559          5.94059   15.2277
31     GL   91.59                     N/A  ...    1.893078          8.11881   15.2673
32    PHM   47.73                     N/A  ...    4.001766          21.9802   15.2673
33    GPS   23.63                     N/A  ...    1.229037          4.75248   15.3069
34    AIZ  165.00                     N/A  ...    0.912947          2.57426   15.3069
35    FDX  226.33                     N/A  ...    0.839644          2.37624   15.4059
36     CI  203.40                     N/A  ...    3.532589          18.8119   15.4455
37    XRX   21.00                     N/A  ...    2.155660           10.495   15.5644
38    ALK   62.80                     N/A  ...    1.840348          7.52475   15.9802
39    UAL   51.61                     N/A  ...    2.116846           10.099   16.1782
40    RJF   95.73                     N/A  ...    1.415518          5.34653   16.2376
41    FTI    8.12                     N/A  ...    3.978550          21.7822   16.2772
42    WRK   53.35                     N/A  ...    6.774601          42.5743   16.3168
43  DISCA   26.41                     N/A  ...    3.639510           19.604   16.8713
44    HCA  255.67                     N/A  ...    1.997951          9.30693   16.9901
45   ZION   66.79                     N/A  ...    2.727192          12.8713   17.0099
46     CB  176.74                     N/A  ...    2.015843          9.50495   17.3267
47    MHK  184.44                     N/A  ...    4.408010          23.5644   17.6436
48    SYF   51.35                     N/A  ...    2.072912          9.70297   17.8218
49    DHI   85.59                     N/A  ...    4.300648          22.7723   17.9406

[50 rows x 14 columns]

In [68]:
#calculating number of shares to buy
portfolio_input()

Enter the value of your portfolio:2500000

In [69]:
print(portfolio_size)

2500000

In [71]:
position_size = float(portfolio_size)/len(rv_dataframe.index)
position_size

50000.0

In [75]:
for row in rv_dataframe.index:
  rv_dataframe.loc[row, 'Number of Shares to Buy'] = math.floor(position_size/rv_dataframe.loc[row,'Price'])

rv_dataframe

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

   Ticker   Price Number of Shares to Buy  ...       EV/GP EV/GP Percentile  RV Score
0     UNM   26.15                    1912  ...    0.410073         0.990099   4.75248
1     PRU  109.24                     457  ...    0.638186          1.38614   5.22772
2     AAL   22.04                    2268  ...    1.921669          8.51485   6.29703
3     MCK  206.36                     242  ...    2.780191          13.4653   7.84158
4       L   56.40                     886  ...    0.998376          3.16832   8.07921
5      RE  259.02                     193  ...    0.915673          2.77228   8.19802
6     KSS   50.59                     988  ...    1.175270           3.9604   8.65347
7      BA  233.00                     214  ... -216.941157          0.39604   8.93069
8     ALL  132.65                     376  ...    0.770153          2.17822    9.0297
9      GM   54.20                     922  ...    2.151354           10.297    9.0297
10    LNC   70.89                     705  ...    0.677053          1.58416   9.06931
11    MET   64.07                     780  ...    0.762019           1.9802   9.18812
12    HPQ   28.71                    1741  ...    2.861876          14.6535   9.56436
13    AIG   57.50                     869  ...    1.064888          3.36634   9.68317
14    TAP   47.95                    1042  ...    3.975574          21.5842   10.6535
15    AFL   53.55                     933  ...    1.833605          7.32673   11.6634
16    TRV  158.57                     315  ...    1.139406          3.56436   11.8218
17      C   71.59                     698  ...    1.814740          7.12871   11.8416
18   VIAC   41.60                    1201  ...    1.488858          5.74257    11.901
19      T   28.15                    1776  ...    4.158644          22.5743        12
20    HIG   71.79                     696  ...    1.153450          3.76238   12.0396
21    APA   22.70                    2202  ...    2.532854          12.0792   12.2772
22    PFG   68.87                     726  ...    1.290727           4.9505   13.7822
23      F   14.56                    3434  ...    2.843194          14.2574    14.198
24    UHS  139.34                     358  ...    1.215986          4.15842   14.3564
25     GS  381.00                     131  ...    2.076291          9.90099   14.6337
26    COF  167.89                     297  ...    2.252625          10.8911   14.8119
27    WHR  205.66                     243  ...    3.268980          16.8317   14.9109
28    CVS   86.31                     579  ...    1.458780          5.54455   14.9109
29   CINF  118.92                     420  ...    1.938495          8.91089   14.9505
30    XOM   61.86                     808  ...    1.490559          5.94059   15.2277
31     GL   91.59                     545  ...    1.893078          8.11881   15.2673
32    PHM   47.73                    1047  ...    4.001766          21.9802   15.2673
33    GPS   23.63                    2115  ...    1.229037          4.75248   15.3069
34    AIZ  165.00                     303  ...    0.912947          2.57426   15.3069
35    FDX  226.33                     220  ...    0.839644          2.37624   15.4059
36     CI  203.40                     245  ...    3.532589          18.8119   15.4455
37    XRX   21.00                    2380  ...    2.155660           10.495   15.5644
38    ALK   62.80                     796  ...    1.840348          7.52475   15.9802
39    UAL   51.61                     968  ...    2.116846           10.099   16.1782
40    RJF   95.73                     522  ...    1.415518          5.34653   16.2376
41    FTI    8.12                    6157  ...    3.978550          21.7822   16.2772
42    WRK   53.35                     937  ...    6.774601          42.5743   16.3168
43  DISCA   26.41                    1893  ...    3.639510           19.604   16.8713
44    HCA  255.67                     195  ...    1.997951          9.30693   16.9901
45   ZION   66.79                     748  ...    2.727192          12.8713   17.0099
46     CB  176.74                     282  ...    2.015843          9.50495   17.3267
47    MHK  184.44                     271  ...    4.408010          23.5644   17.6436
48    SYF   51.35                     973  ...    2.072912          9.70297   17.8218
49    DHI   85.59                     584  ...    4.300648          22.7723   17.9406

[50 rows x 14 columns]